$colorAffordance: tomato;
$colorBoxShadow: rgba(0,0,0,.12);
$colorEvenSections: white;
$colorGuidance: tomato;
$colorGray50: whitesmoke;
$colorGray100: darken($colorGray50, 10);
$colorGray200: darken($colorGray50, 20);
$colorGray300: darken($colorGray50, 30);
$colorGray400: darken($colorGray50, 40);
$colorGray500: darken($colorGray50, 50);
$colorGray600: darken($colorGray50, 60);
$colorGray700: darken($colorGray50, 70);
$colorGray800: darken($colorGray50, 80);
$colorGray900: darken($colorGray50, 90);
